version: "3.7"
networks:
  default:
    external:
      name: infra

services:

  minio:
    image: "minio/minio:${TAG_MINIO}"
    container_name: minio
    volumes:
      - "miniodata-volume:/data"
    command: server /data
    env_file:
      - configuration/minio/variables.env
    restart: always

  minio-mc:
    image: "minio/mc:${TAG_MINIO_MC}"
    container_name: minio-mc
    depends_on:
      - minio
    volumes:
      - "./configuration/minio/data:/zebrunner:ro"
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add minio-host http://minio:9000 changeit changeit --api s3v4;
      /usr/bin/mc mb --ignore-existing minio-host/zebrunner;
      /usr/bin/mc policy set download minio-host/zebrunner;
      /usr/bin/mc mirror -w --overwrite zebrunner minio-host/zebrunner;
      exit 0;
      "

volumes:
  miniodata-volume:
